*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Hanken Grotesk',sans-serif
}

.page__container
{
	width:100vw;
	height:100vh;
	display:flex
}

.main__container
{
	width:40%;
	margin:auto;
	border-radius:25px;
	box-shadow:8px 8px 7px 5px rgba(61,149,249,0.1)
}

.left__container
{
	background:#4a3df9;
	background:linear-gradient(180deg,#4a3df9 0%,rgba(49,44,233,1) 100%);
	width:50%;
	color:#fff;
	border-radius:25px
}

.left__container > p
{
	text-align:center;
	font-size:.9rem
}

.circle
{
	background:#4a24cf;
	background:linear-gradient(180deg,#2a27dd 0%,#4734ee 100%);
	width:160px;
	height:160px;
	text-align:center
}

.circle > h1
{
	font-size:4rem
}

.right__container
{
	width:50%
}

.center
{
	display:flex;
	align-items:center
}

.mainScore
{
	font-weight:700
}

#reaction
{
	background-color:#FFF6F5;
	padding:10px;
	color:#F55
}

#memory
{
	background-color:#FFFBF2;
	padding:10px;
	color:#FFB72B
}

#verbal
{
	background-color:#F2FAFA;
	padding:10px;
	color:#1EC39D
}

#visual
{
	background-color:#F3F3FD;
	padding:10px;
	color:#1125D6
}

button
{
	padding:10px;
	background-color:#303B59;
	color:#fff;
	border:none
}

button:hover
{
	background:#5a3df9;
	background:linear-gradient(180deg,rgba(90,61,249,1) 0%,rgba(49,44,233,1) 100%)
}

.attribution
{
	font-size:11px;
	text-align:center
}

.attribution a
{
	color:hsl(228,45%,44%)
}